.home-mainvisual {
    text-align: center;
    position: relative;
}
.home-mainvisual-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
}
.home-mainvisual-pict {
    position: relative;
}
.home-mainvisual-pict img {
    -o-object-fit: cover;
    display: block;
    width: 100%;
    height: 51.0981%;
    min-height: 500px;
    object-fit: cover;
}
.home-mainvisual {
    text-align: center;
    position: relative;
}

i{
    text-align: center;
    font-style: italic;
}
.home-mainvisual-pict img {
    -o-object-fit: cover;
    display: block;
    width: 100%;
    height: 51.0981%;
    min-height: 500px;
    object-fit: cover;
}
.home-mainvisual-lead{
    width: 100%;
    padding: 0 10%;
    font-size: 2.8rem;
    line-height: 4rem;
    font-weight: 700;
    color: #000;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}